* {
    box-sizing: border-box;
}
:root {
    --primary-key:#FFB900;
    --font-heading: Sen, sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    padding: 36px 8px;
    font-family: 'Poppins', sans-serif;
}
/* common */
.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
.btn { 
    min-width: 118px;
    display: inline-block;
    padding: 0 17px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: #FFFFFF;
    background: #171100;
    border-radius: 999px;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
/* header */
.header {
    background: #FFFCF4;
}
.header.fixed {
    position: sticky;
    top: -5px;
}
.header .body {
    display: flex;
    align-items: center;
    padding: 10px 0 8px;
}
.header .body .nav ul {
    display: flex;
}
.header .nav {
    margin-left: auto;
}
.header .body .nav ul a {
    position: relative;
    padding: 8px 21px;
    font-size: 1.6rem;
    color: #5F5B53;
}

.header .nav li.active a {  
    font-weight: 600;
    color: #171100;
}
.nav li a:hover {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}
.header .nav li.active a::after {
    position: absolute;
    left: 21px;
    bottom: 0px;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}
.header .action {
    min-width: 144px;
}
/* heero */
.hero {
    padding: 56px 0 65px;
    background: #FFFCF4;
    margin-bottom: 135px;
  
}
.hero .body {
    display: flex;
}
.hero .hero-media {
    position: relative;
    width: 48%;
}

.hero .hero-img .img {
    width: 470px;
    height: 685px;    
    object-fit: cover;
    border-radius: 20px;
    display: block;
}
.hero .hero-base {
    position: absolute;
    width: 270px;
    margin: auto;
    padding: 24px 24px;
    right: 0;
    bottom: 48px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}
.hero .hero-base .item {
    display: flex; 
    align-items: center;  
}
.hero .hero-base .item + .item {
    margin-top: 22px;
}
.hero .hero-base .infor-base {
    margin-left: 16px;
    
}
.hero .hero-base .infor-base .lable {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8;
    color: #5F5B53;
}
.hero .hero-base .infor-base .title-base {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.6;
    color: #171100;
}

.hero .hero-infor {
    width: 52%;
    padding-left:130px;
}
.hero .hero-infor h1.titile {
    font-family: var(--font-heading);
    padding-top: 64px;
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}
.hero .hero-infor .desc {
    margin-top: 28px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}
.hero .hero-infor .group-btn {
    display: flex;
    margin-top: 38px;
    
}
.hero .hero-infor .group-btn .btn { 
    min-width: 180px;
    line-height: 64px;
    background: var(--primary-key);
    border-radius: 32px;
}

.hero .hero-infor .group-btn .watch-vid {
    display: flex;
    align-items: center;
    background:white;
    border: none;
}
.hero .hero-infor .group-btn .watch-vid .icon {
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}
.hero .hero-infor .group-btn .watch-vid p {
    padding-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
    cursor: pointer;
}
.hero .hero-infor .desc-2 {
    margin-top: 48px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}
.hero .hero-infor .quantity {
    font-family: var(--font-heading);
    margin-top: 8px;
    display: flex;
}
.hero .hero-infor .quantity p{
    
    font-weight: 400;
    font-size: 1.8rem;
    color: #5F5B53;
}
.hero .hero-infor .quantity .course p {
    margin-left: 28px;
}
.hero .hero-infor .quantity strong {
    font-weight: 700;
    font-size: 4.4rem;
    color: #171100;
}
/* coursee */
.courses .header-courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.courses .header-courses h2.subtitle {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;   
    letter-spacing: -0.02em;    
    color: #171100;
}
.courses .header-courses .desc {
    width: 458px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}
.courses .header-courses .active-cour .click {
    margin-left: 14px;
    width: 40px;
    height: 40px;   
    border: none;
    background: #fff;
    cursor: pointer;
    border-radius: 50%;
}
.courses .header-courses .active-cour .click:hover {
    opacity: 0.8;
}
/* hero-courr */
.hero-cour {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}
.hero-cour .list-cour {
    width: 31.6%;
    background: #FFFFFF;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px
}
.hero-cour .list-cour .list-image {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
.hero-cour .list-cour .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-cour .list-cour .title .sub {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    margin-left: 22px;
    margin-top: 10px;

}
.hero-cour .list-cour .desc {
    margin-left: 22px;
    width: 326px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}
.hero-cour .list-cour .infor {
    margin-top: 24px;
    margin-left: 22px;
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-cour .list-cour .price {
    font-weight: 600;
    font-size: 1.8rem;
    color: #171100;
}
.hero-cour .list-cour .list-btn {
    margin-right: 22px;
}
.hero-cour .list-cour .list-btnn {
    margin-right: 22px;
    background: var(--primary-key);
    border: none;
}
/* testimorial */
.testimorial {
    margin-top: 200px;
    height: 380px;
    background: #2E2100;
    color: #fff;
    
}
.testimorial .body {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
   
}
.testimorial .avt {
    width: 40%;
}
.testimorial .avt .image {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}
.testimorial .avt .title {
    margin-top: 18px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.4rem;
    color: #F7F7F7;
}
.testimorial .avt .desc {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB3;
}
.testimorial .avt .dots {
    margin-top: 28px;
    display: flex;
}
.testimorial .avt .dots .dot {
    background: #634700;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 6px;
}
.testimorial .avt .dots .dot.active {
    background: #FFB900;
}
.testimorial .paragraph blockquote {
    font-style: italic;
    width: 740px;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #FFFFFF;
}
.feature .body {
    margin-top: 200px;
    display: flex;

}
.feature .body .image {
    display: flex;
    width: 49%;
}
.feature .body .image .img1 {
    margin-top: 34px;
    bottom: 0;
    width: 270px;
    height: 404px;
    border-radius: 16px;
    
}
.feature .body .image .img2 {
    margin-left: 30px;
    width: 270px;
    height: 405px;
    border-radius: 16px;
}
.feature .infor {
    margin-top: 58px;
    margin-left: 130px;
}
.feature .infor .title {
    font-weight: 700;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}
.feature .infor .para {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5F5B53;
}
.feature .infor .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.rem;
    line-height: 1.75;
    color: #5F5B53;
}
.feature .infor .btn-feat {
    margin-top: 32px;
    width: 137px;
    height: 50px;
    background: #FFB900;
    border: none;
}
/* CTA */
.cta {
    margin-top: 200px;
}
.cta .body {
    display: flex;
    align-items: center;
}
.cta .body .infor .title {
    width: 570px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}
.cta .body .infor .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5F5B53;
}
.cta .body .infor .btn-cta {
    margin-top: 32px;
    width: 137px;
    height: 50px;
    background: #FFB900;
    border: none;
}
.cta .body .imga {
    width: 470px;
    height: 440px;
    border-radius: 20px;
    object-fit: cover;
}
/* Blog */
.blog {
    margin-top: 200px;
    background: #FFFCF4;
    height: 878px;
}

.blog .top-blog {
    padding-top:96px;
}
.blog .top-blog .title {
    font-weight: 700;
    font-size: 3.8rem;
    text-align: center;
    letter-spacing: -0.02em;
    color: #130606;
}
.blog .top-blog .desc {
    padding-top: 16px;
    margin: auto;
    width: 448px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #696262;
}
.blog .bot-blog {
    margin-top: 55px;
    
}
.blog .bot-blog .list-item {
    display: flex;
    justify-content: space-between;
}
.blog .bot-blog .item {
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}
.blog .bot-blog .text {
    margin-left: 20px;
    padding-bottom: 28px;
}
.blog .bot-blog .item {
    width: 31.6%
}
.blog .bot-blog .item .image-blog {
    width: 370px;
    border-radius: 16px 16px 0px 0px;
}
.blog .bot-blog .date {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.blog .bot-blog .item .dot {
    width: 6px;
    height: 6px;
    background: #FFB900;
    border-radius: 50%;
}
.blog .bot-blog .date .time {
    margin-left: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    color: #5F5B53;
}
.blog .bot-blog .line {
    margin-top: 12px;
    width: 160px;
    height: 1px;
    background: #E2DFDA;
    border-radius: 0.5px;
}
.blog .bot-blog .item .desc {
    width: 330px;
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}
.blog .bot-blog .item .btn-blog {
    margin-top: 20px;
    border: none;
}
.blog .bot-blog .item .btn-blog.active {
    background: var(--primary-key);
}
/* ch∆∞a xong */
/* .blog .bot-blog .dotss {
    margin-top: 38px;
    background: #000;
}
.blog .bot-blog .dotss .dott {
    width: 6px;
    height: 6px;
    background: #000;
} */

/* Footer */
.footer {
    padding-top: ;: 96px;
    background: #2E2100;
}
.footer .list-foot {
    padding-top: 96px;
    display: flex;
    justify-content: space-between;
}
.footer .list-foot .column {
    margin-right: 130px;
}
.footer .list-foot .column .desc {
    width: 267px;
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB2;
}
.footer .list-foot .column .icon {
    display: flex;
    margin-top: 18px;
}
.footer .list-foot .column .icon .icon-f {
    margin-right: 18px;
}
.footer .list-foot .column .title {
    font-weight: 600;
    font-size: 1.6rem;
    color: #FFFFFF;

}
.footer .list-foot .column .line {
    margin-top: 14px;
    margin-bottom: 28px;
    width: 130px;
    height: 1px;
    background: #59554B;
}
.footer .list-foot .column .fea {
    width: 150px;
    padding-bottom: 12px;
    display: inline-block;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB2;
    
}
.footer .list-foot .column strong {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.4rem;
}
.footer .line-bot {
    margin-top: 38px;
    width: 1170px;
    height: 1px;
    background: #59554B;
    text-align: center;
}
.footer .copyright .desc {
    padding-bottom: 28px;
    margin-top: 28px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #807D74;
}